.container {
  width: 100%;
}

.container-ac2 {
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 79px 30px;
  box-sizing: border-box;
}
.container h1 {
  padding-right: 100px;
  padding-bottom: 50px;
}

.container p {
  padding-left: 100px;
  padding-bottom: 20px;
}
@media (max-width: 800px) {
  .container-ac2 {
    padding: 0px;
  }
  .container h1 {
    padding-right: 0px;
    padding-bottom: 50px;
  }
  .container p {
    padding-left: 0px;
    padding-bottom: 20px;
    text-align: justify;
  }
}
