.section-foco{
  background: #f8f8f8;

}
.container {
  width: 100%;
}

.container-foco h2{
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 79px 20px;
  box-sizing: border-box;
  text-align: left;
}

.container p {
  text-align: justify;
  padding-left: 100px;
  padding-bottom: 20px;
}
.img-group{
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}





@media (max-width: 800px) {
  .container-foco {
    padding: 0px;
  }
  .container-foco h2{
    padding: 79px 0px; 
  }
  .container p {
    padding: 10px;
    padding-bottom: 20px;
    text-align: justify;
  }
}
